In [1]:
import pandas as pd
import numpy as np

In [2]:
df_lin = pd.read_csv('links.csv')
df_mov = pd.read_csv('movies.csv')
df_rat = pd.read_csv('ratings.csv')
df_tag = pd.read_csv('tags.csv')

1.将每1分做为一档，电影的评分共分为5档，(0:1], (1,2], (2, 3], (3, 4], (4, 5], 打印出每个评分档共有多少部电影

In [3]:
df_rat.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
rat = df_rat['rating']
rat.head()
rat.describe()

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [5]:
#获取每一个评分档的电影
df_rat_1 = len((rat>0.0) & (rat<=1.0))
df_rat_2 = len((rat>1.0) & (rat<=2.0))
df_rat_3 = len((rat>2.0) & (rat<=3.0))
df_rat_4 = len((rat>3.0) & (rat<=4.0))
df_rat_5 = len((rat>4.0) & (rat<=5.0))
print("1,2,3,4,5个评分档电影分别有:",df_rat_1,"个",df_rat_2,"个",df_rat_3,"个",df_rat_4,"个",df_rat_5,"个")

1,2,3,4,5个评分档电影分别有: 100836 个 100836 个 100836 个 100836 个 100836 个

2.添加一个comment列，对平均分4分以上的电影标‘推荐’，其他标‘不推荐’，输出到一个comment.csv中2.

In [6]:
df_rat['comment']=None

In [7]:
df_rat.head()

   userId  movieId  rating  timestamp comment
0       1        1     4.0  964982703    None
1       1        3     4.0  964981247    None
2       1        6     4.0  964982224    None
3       1       47     5.0  964983815    None
4       1       50     5.0  964982931    None

In [8]:
Min = np.mean(df_rat.rating)
print(Min)

3.501556983616962

In [9]:
def fun(x):
    if x >= 4:
        return  "推荐"
    else:
        return  "不推荐"
df_rat['comment'] = df_rat.apply(lambda df_rat: fun(df_rat['rating']), axis=1)

In [10]:
df_rat.head()

   userId  movieId  rating  timestamp comment
0       1        1     4.0  964982703      推荐
1       1        3     4.0  964981247      推荐
2       1        6     4.0  964982224      推荐
3       1       47     5.0  964983815      推荐
4       1       50     5.0  964982931      推荐